h1 {
  font-size: 2.8rem;
  margin: 0;
}

h2 {
  font-size: 2.5rem;
  margin: 0;
}

h3 {
  font-size: 2.2rem;
  margin: 0;
}

h4 {
  font-size: 1.9rem;
  margin: 0;
}

h5 {
  font-size: 1.6rem;
  margin: 0;
}

h6 {
  font-size: 1.3rem;
  margin: 0;
}

p {
  font-size: 1rem;
  margin: 0;
}

.root {
  background-color: #242424;
  font-family: Arial;
  padding: 2% 5%;
  color: white;
}

.container {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  color: white;
}

.class-dnmvc6zv-caption {
  font-family: Arial;
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.875rem;
  color: #ffffff;
}

.class-dnmvc6zv-container {
  background-color: #2d3748;
  font-family: Arial;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.class-dnmvc6zv-overlay {
  font-family: Arial;
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.class-sf4qpt6i {
  font-family: Arial;
  width: 100%;
  text-align: left;
}

.class-mh8krxjs {
  font-family: Arial;
  width: 100%;
  text-align: left;
}

.class-nsr6yv0z {
  font-family: Arial;
}

.class-nsr6yv0z-container {
  background-color: #2d3748;
  font-family: Arial;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.class-nsr6yv0z-overlay {
  font-family: Arial;
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.class-nsr6yv0z-caption {
  font-family: Arial;
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.875rem;
  color: #ffffff;
}

.class-3mp91e3u {
  font-family: Arial;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  color: #000000;
}

.class-87f1zl47 {
  font-family: Arial;
}

.class-87f1zl47-container {
  background-color: #2d3748;
  font-family: Arial;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.class-87f1zl47-overlay {
  font-family: Arial;
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.class-87f1zl47-caption {
  font-family: Arial;
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.875rem;
  color: #ffffff;
}

.class-68aesce9 {
  font-family: Arial;
  width: 100%;
  text-align: left;
}